/* Hacky CSS not working, maybe the twitter-embed package is broken */
.twitter-main {
  /* margin: 0 auto; */
  text-align: center;
  font-size: 1rem;
  line-height: 4rem;
}

.tw-header-text {
  font-size: 48px;
  font-weight: 400;
  line-height: 30px;
}

.tw-subtitle {
  text-transform: uppercase;
}

/* Media Query */
@media (max-width: 1380px) {
  .tw-header-text {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .tw-header-text {
    font-size: 30px;
    text-align: center;
  }

  .dark-mode {
    margin-top: 0rem;
  }
}
