.talk-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 30px;
}

.talk-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.talk-main-div {
  display: flex;
}

.talk-text-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 32px;
}

@media (max-width: 768px) {
  .talk-header-title {
    font-size: 30px;
    text-align: center;
  }
  .talk-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}