.achievement-heading {
  font-size: 48px;
  font-weight: 400;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
  line-height: 4em;
}
.card-image {
  height: 250px;
  width: 250px;
}

.card-title {
  color: black;
  font-size: 30px;
  margin: 0px;
  font-weight: 400;
  line-height: normal;
}

.card-subtitle {
  color: #868e96;
  font-size: 20px;
}

.certificate-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
}

.certificate-detail-div {
  text-align: center;
}

.certificate-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}
.certificate-image-div {
  text-align: center;
}
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}
.certificate-card-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.certificate-card-footer > p {
  font-weight: 600;
  position: relative;
  color: #555555;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}
.certificate-card-footer > p::after {
  content: '';
  background: rgba(212, 87, 243, 0.219);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.certificate-card-footer > p:hover::after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}
/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .dark-mode {
    margin-top: 0rem;
  }
}
