@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Agustina Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Agustina Regular'), url('../public/fonts/Agustina.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../public/fonts/Montserrat-Regular.ttf') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "DMsans";
    src: url("../public/fonts/DMSans-Medium.ttf");
    src: url("../public/fonts/DMSans-Medium.ttf") format("woff"),
        url("../public/fonts/DMSans-Medium.ttf") format("opentype"),
        url("../public/fonts/DMSans-Medium.ttf") format("svg");
}



@layer components {
    .container {
        @apply max-w-[80rem] !w-full mx-auto !important;
    }
}

.austina {
    font-family: 'Agustina Regular' !important;
}

.dmsans {
    font-family: 'DMsans' !important;
}

/* .dmsans {
    font-family: 'DM Sans', sans-serif;
} */

.link {
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #F35C6C;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
}

.link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

*::selection {
    background: #f15b74;
    color: white;
}

.text-gradient {
    display: inline-block;
    background-image: -webkit-linear-gradient(left, #f15b74, #ff6021);
    background-image: -moz-linear-gradient(left, #f15b74, #ff6021);
    background-image: -ms-linear-gradient(left, #f15b74, #ff6021);
    background-image: -o-linear-gradient(left, #f15b74, #ff6021);
    background-image: linear-gradient(to right, #f15b74, #ff7138);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all ease .5s;
    font-family: 'DMsans' !important;
    cursor: pointer;
}

.MuiDrawer-paperAnchorLeft {
    background: transparent !important;
}

.MuiPaper-elevation16 {
    box-shadow: none !important;
}

.MuiBackdrop-root {
    background: transparent !important;
}

.ball {
    z-index: 1;
    -webkit-filter: blur(40px);
    filter: blur(40px);
}

.hue-rotate:hover {
    scale: 1.1;
}

.slick-dots li button:before {
    font-size: 12px !important;
    color: #F35C6A !important;
    border-radius: 100%;
    margin-top: 20px !important;
}

.moon {
    box-shadow: 0 0 300px 10px #fff, inset 0 0 50px 10px rgba(212, 212, 212, 0.15);
    transition: all ease 1s;
}

.moon-texture {
    background: linear-gradient(rgba(223, 223, 223, 0.5), rgba(223, 223, 223, 0.5));
    box-shadow: inset 0 0 50px 10px rgba(212, 212, 212, 0.5);
}

.moon-texture-light {
    background: linear-gradient(rgba(223, 223, 223, 0.1), rgba(223, 223, 223, 0.1));
    box-shadow: inset 0 0 50px 10px rgba(212, 212, 212, 0.15);
}

.line {
    position: absolute;
    left: calc(50%);
    height: 100%;
    width: 4px;
}

.right-border-white {
    border-right: 2px dashed white;
    border-top: 2px dashed white;
    border-radius: 0 400px 0px 0;
}

.left-border-white {
    border-left: 2px dashed white;
    border-top: 2px dashed white;
    border-radius: 400px 0px 0px 0;
}

.right-border-dark {
    border-right: 2px dashed gray;
    border-top: 2px dashed gray;
    border-radius: 0 400px 0px 0;
}

.left-border-dark {
    border-left: 2px dashed gray;
    border-top: 2px dashed gray;
    border-radius: 400px 0px 0px 0;
}